
{% block title %}Successfully completed password{% endblock %}

{% block pagetitle %}Successfully completed password{% endblock %}

{% block content %}
<div class="categoria">
<p>your password has been correctly completed </p>
</div>
{% endblock content %}