<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order {{context.order}} Action</title>
</head>
<body>
<p>the order has been received</p>
<ul>
    <li><b>shipment:</b> {{context.shipment}}</li>
    <li><b>Date Received:</b> {{context.date_received}}</li>
</ul>

</body>
</html>

